@import 'var.scss';

footer {
    .desktop {
        display:none;
    }
    .mobile {
        width:60% !important;
        margin-top:2rem;
        margin-bottom:2rem;
    }
    margin-top:5rem;
    overflow: hidden;
    background-color: $blue;
    border-radius:0 100px 0 0;
    display:flex;
    flex-direction:column;
    .blue-square {
        background-color:$blue;
        border-radius:0 100px 0 0;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding:1.5rem 1.5rem 0 1.5rem;
        position:relative;
        p {
            color:white;
            text-align:center;
            font-size:16px;
            font-family:'SF-Pro';
        }
        .background-logo {
            position:absolute;
            transform: scaleY(6);
            width:100%;
            top:0;
            right:0;
        }
    }

    .blue-square > div {
        display:flex;
        margin:0 0rem;
        flex-direction:column-reverse;
    }



    .logo {
        width:3.563rem;
        margin-bottom:1rem;
    }

    .icons {
        display:flex;
        justify-content: center;
        margin-bottom:1rem;
        span {
            cursor:pointer;
            width:16%;
            margin-right:0rem;
            svg {
                opacity:0.99;
                circle {
                    transition:all ease-in 200ms;
                }
            }
        }
        span:hover {
            circle {
                fill:$lighterBlue;
            }
            path {
                fill:white;
            }

        }
    }

    .links {
        background-color: $blue;
        width:100%;
        display:flex;
        padding:0rem 0em 0rem 0rem;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;

        ul {
            padding:0;
            display:flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: space-between;
            width:100%;
            li {
                margin:0.5rem 0rem;
                list-style:none;
                width:100%;
                justify-content: center;
                display:flex;
                align-items: center;
                a{
                    font-family:'Raleway';
                    color:white !important;
                    text-decoration: none;
                    text-transform:uppercase;
                    color:$blue;
                    font-weight:bold;
                   font-size:15px;
                }
            }
        }
    }

    .social {
        background-color:$blue;
        justify-content: center;
        padding: 0 5rem;
        display:flex;
        flex-direction: column-reverse;
        width:100%;
        box-sizing: border-box;
        align-items: space-between;
        img {
            width:20%;
        }
    }

    .company-icons {
        display:flex;
        justify-content: center;
    }

    .network-icons {
        display:flex;
        justify-content: space-between;
        span {
            width:22%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        svg {
            margin:0 0.2rem;
            opacity:0.99;

            cursor:pointer;
            path, circle {
                transition:all ease-in 100ms;
                fill:white !important;
            }
            
        }

        svg:hover {
                
                path {
                    fill:$lightBlue;
                }

                circle {
                    fill:$lightBlue;
                }
        }
    }
}


@media only screen and (min-width: $lg) {
    .desktop {
        display:block;
    }
    .mobile {
        display:block;
    }
    footer {
        display:flex;
        flex-direction:row;
        background-color: white;;
        border-radius:0;
        .blue-square {
            padding:1.5rem;
            border-radius:0 100px 0 0;
            padding:4rem 3rem 4rem 7rem;
            background-color:$blue;
            width:46%;
            flex-direction:row;
            p {
                text-align:right;
            }
            .background-logo
            {
                transform:none;
            }
        }


        .blue-square > div {
            display:flex;
            flex-direction:column;
            margin:0 5rem;
        }

        .links {
            width:35%;
           
            padding:3rem 0em 3rem 4rem;
            background-color:white;
            ul {
                li {
                    width:50%;
                    margin:0;
                    justify-content: flex-start;
                    a {
                        color:$blue;
                    }
                }
            }
        }

        .logo {
            margin-bottom:0;
        }

        .icons {

            display:flex;
            justify-content: flex-start;
            span {margin-right:0rem;}
        }

        .social {
            background-color:white;
            padding:0;
            display:flex;
            flex-direction: column;
            width:20%;
            margin-right: 4rem;
            img {
                width:20%;
            }
    
        }

        .network-icons {
            display:flex;
            justify-content: space-between;
            span {
                display: flex;
                align-items: center;
             
            }
            svg {
                margin:0 0.2rem;
                opacity:0.99;
    
                cursor:pointer;
                path, circle {
                    transition:all ease-in 100ms;
                    fill:$blue !important;
                }
                
            }
        }
    }



}